
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
